<mat-toolbar color="primary" class="toolbar">
  <mat-icon (click)="handleBack()">arrow_back</mat-icon>
  <span class="group-name">{{groupDetail?.name}}</span>
  <span class="spacer"></span>
  <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <span (click)="addUserByEmail()">Add members</span>
  </button>
</mat-menu>

<mat-list>
  <mat-list-item *ngFor="let post of posts$ | async">
    <p mat-line>{{post.post}} </p>
  </mat-list-item>
</mat-list>

<button mat-fab color="accent" class="add-new-post-btn" (click)="addNewPost()">
  <mat-icon>add</mat-icon>
</button>