.btn {
  color: #fff;
}

.google-btn {
 background-color: rgb(192, 77, 59);
}

.github-btn {
  background-color: rgb(68, 68, 68);
}

.twitter-btn {
  background-color: rgb(90, 160, 210);
}

.linkedin-btn {
  background-color: rgb(56, 134, 180);
}
