<div class="login-page">
  <div class="logo">
    chillNFix
  </div>
  <form class="login-form">
    <!-- Email input -->
    <mat-form-field class="form-control">
      <mat-icon class="prefix" matPrefix class="prefix">email &nbsp;</mat-icon>
      <input matInput placeholder="Email" [formControl]="email">
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Password input -->
    <mat-form-field class="form-control">
      <mat-icon class="prefix" matPrefix>visibility</mat-icon>
      <input matInput placeholder="Password" [formControl]="password">
      <mat-error *ngIf="password.hasError('minlength') || password.hasError('maxlength') && !password.hasError('required')">
        Password should be between 4-16 characters
      </mat-error>
      <mat-error *ngIf="password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <ng-container *ngIf="isSignIn">
      <button mat-raised-button (click)="login()" color="accent" class="signInBtn">Sign In</button>
      <div>
        Don't have an account? <span (click)="isSignIn = false">Create an Account</span>
      </div>
    </ng-container>
    <ng-container *ngIf="!isSignIn">
      <button mat-raised-button (click)="signUp()" color="accent" class="signInBtn">Sign me up</button>
      <div>
        Already have an account? <span (click)="isSignIn = true">Sign In</span>
      </div>
    </ng-container>
  </form>
  <app-social-buttons (socialClick)="signInWithSocial($event)"></app-social-buttons>
</div>