// page container
.login-page {
  padding: 0 20px;
}

// logo
.logo {
  text-align: center;
  margin-top: 40%;
  margin-bottom: 40px;
  font-size: 38px;
}

// login form
.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .form-control {
    width: 100%;

    .prefix {
      padding-right: 10px;
    }
  }

  .signInBtn {
    min-height: 45px;
    font-size: 18px;
    width: 55%;
    margin: 15px auto;
  }
}
