<div class="container">
    <div id="login" class="login">
      <div class="login-icon-field">
      </div>
      <form class="login-form">
          <mat-form-field class="full-width">
            <mat-icon matPrefix class="prefix">email &nbsp;</mat-icon>
            <input type="email" class="username-input" matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-icon matPrefix class="prefix">eye</mat-icon>
            <input type="password" matInput placeholder="Password">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-icon matPrefix class="prefix">eye</mat-icon>
            <input type="password" matInput placeholder="Confirm Password">
          </mat-form-field>
          <button mat-raised-button color="accent">Sign Up</button>
      </form>
      <div>
        Already have an account? <a routerLink="/auth/signin">Sign In</a>
      </div>
      <div>
        <div class="social-header">Sign Up with social</div>
        <button mat-flat-button color="warn">
          G
        </button>
        <button mat-flat-button color="primary">fb</button>
      </div>
    </div>
  </div>
