
@import '~@angular/material/theming';
@include mat-core();


$input-primary: mat-palette($mat-red);
$input-accent: mat-palette($mat-red);

$input-theme: mat-light-theme($input-primary, $input-accent);

@include mat-form-field-theme($input-theme);
@include mat-input-theme($input-theme);
